In [217]:
import pandas as pd
import numpy as np
data = pd.read_csv('data_06_12.csv', sep=',')
data.head()
data = data.drop('url', axis=1)

data.head(20)

,Unnamed: 0,name,person_status,start_date,answer_time,first_sold_time,n_active,n_finished,active_finished_ratio,min_active_cost,max_active_cost,mean_active_cost,min_finished_cost,max_finished_cost,mean_finished_cost
0,1,лилия,частное лицо,735689.0,NaN,736212.0,4,9,0.500000,7000.0,10000.0,8500.000000,0.0,140000.0,2.538889e+04
1,2,дарья,частное лицо,736846.0,NaN,736967.0,1,1,1.000000,3000.0,3000.0,3000.000000,1.0,1.0,1.000000e+00
2,5,нана васильева,частное лицо,736999.0,NaN,NaN,1,0,2.000000,2700.0,2700.0,2700.000000,NaN,NaN,NaN
3,6,ольга питченко (бойкова),частное лицо,736024.0,NaN,736884.0,9,2,3.333333,10.0,8000.0,1530.000000,350.0,145000.0,7.267500e+04
4,7,юлия,частное лицо,734808.0,NaN,735816.0,4,2,1.666667,1000.0,2000.0,1500.000000,600.0,1500.0,1.050000e+03
5,8,марина,частное лицо,735995.0,Отвечает за несколько часов,736536.0,46,23,1.958333,0.0,800000.0,26584.130435,100.0,60000.0,5.743478e+03
6,9,оля,частное лицо,736389.0,Отвечает в течение дня,736989.0,12,5,2.166667,0.0,8000.0,1937.500000,3000.0,10000.0,6.700000e+03
7,10,наташа,частное лицо,736542.0,Отвечает около 30 минут,736600.0,40,187,0.218085,3000.0,35900.0,15647.475000,0.0,39900.0,1.316027e+04
8,13,юлия,частное лицо,736603.0,Отвечает за несколько часов,736945.0,13,3,3.500000,100.0,2500.0,646.153846,500.0,3900.0,1.800000e+03
9,15,лада,частное лицо,736208.0,NaN,NaN,29,0,30.000000,100.0,4000.0,955.172414,NaN,NaN,NaN
10,16,янина,частное лицо,735234.0,NaN,736653.0,2,8,0.333333,1000.0,900000.0,450500.000000,150.0,3000.0,1.125000e+03
11,17,ольга,частное лицо,736481.0,NaN,736701.0,12,28,0.448276,400.0,3000.0,1283.333333,1.0,15000.0,3.946464e+03
12,18,рпк «кратос»,компания,734169.0,Отвечает в течение дня,735775.0,13,9,1.400000,5.0,400000.0,42438.846154,1.0,750000.0,1.586668e+05
13,21,алена,частное лицо,733712.0,Редко отвечает на сообщения,735611.0,12,39,0.325000,300.0,15000.0,3250.000000,0.0,53000.0,4.151282e+03
14,22,анна,частное лицо,735050.0,Отвечает в течение дня,736080.0,21,116,0.188034,450.0,5300.0,2473.809524,200.0,15000.0,1.971966e+03
15,23,наталья,частное лицо,734624.0,NaN,736145.0,5,44,0.133333,300.0,850000.0,170460.000000,0.0,1400000.0,1.201750e+05
16,24,светлана,частное лицо,734197.0,Отвечает около часа,736936.0,62,1,31.500000,0.0,2800.0,468.596774,1000.0,1000.0,1.000000e+03
17,25,маргарита,частное лицо,734381.0,Отвечает около часа,736536.0,21,17,1.222222,500.0,18000.0,2919.047619,400.0,10000.0,2.470588e+03
18,26,катя,частное лицо,736815.0,NaN,737011.0,4,2,1.666667,150.0,290000.0,74287.500000,3600.0,2400000.0,1.201800e+06
19,27,анастасия,частное лицо,734442.0,Отвечает в течение дня,734832.0,48,95,0.510417,0.0,5000.0,397.166667,0.0,25000.0,1.856032e+03

In [218]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [219]:
cat_features = pd.DataFrame(data[['answer_time']])
cat_features = pd.DataFrame([str(j).lower() for j in cat_features.values])
label_encoder = LabelEncoder()
df = pd.DataFrame(label_encoder.fit_transform(cat_features))
data = data.drop('answer_time', axis=1)
df_onehotencoder = OneHotEncoder(sparse=False)
df2 = df_onehotencoder.fit_transform(df)
df = pd.DataFrame(df2)
data = data.join(df, rsuffix = '_answer_time', how = 'left')

/home/dmitry/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [220]:
len(data.columns)

21

In [221]:
cat_features = pd.DataFrame(data[['name']])
cat_features = pd.DataFrame([str(j).lower() for j in cat_features.values])
label_encoder = LabelEncoder()
df = pd.DataFrame(label_encoder.fit_transform(cat_features))
data = data.drop('name', axis=1)
print(cat_features)
df_onehotencoder = OneHotEncoder(sparse=False)
df2 = df_onehotencoder.fit_transform(df)
df = pd.DataFrame(df2)
#data = data.join(df, rsuffix = '_name', how = 'left')

                                  0
0                         ['лилия']
1                         ['дарья']
2                ['нана васильева']
3      ['ольга питченко (бойкова)']
4                          ['юлия']
5                        ['марина']
6                           ['оля']
7                        ['наташа']
8                          ['юлия']
9                          ['лада']
10                        ['янина']
11                        ['ольга']
12                 ['рпк «кратос»']
13                        ['алена']
14                         ['анна']
15                      ['наталья']
16                     ['светлана']
17                    ['маргарита']
18                         ['катя']
19                    ['анастасия']
20                       ['галина']
21                  ['собственник']
22                       ['галина']
23                      ['наталья']
24                       ['оксана']
25                        ['ирина']
26                      ['наталья']
27                 ['siberia furs']
28                         ['юлия']
29                      ['надежда']
...                             ...
12115                     ['нелли']
12116                    ['гузель']
12117                      ['катя']
12118                   ['надежда']
12119                    ['кактус']
12120                      ['иван']
12121                   ['наталья']
12122                     ['ирина']
12123                  ['анжелика']
12124                  ['виктория']
12125                         ['з']
12126                     ['елена']
12127                   ['наталья']
12128               ['собственник']
12129                  ['светлана']
12130                     ['антон']
12131            ['дана степанова']
12132                     ['олеся']
12133                   ['надежда']
12134           ['елизавета домаш']
12135                 ['анастасия']
12136                   ['альвина']
12137                    ['лариса']
12138                 ['саша юдин']
12139         ['светлана ладыгина']
12140              ['не агентство']
12141                   ['татьяна']
12142                      ['roma']
12143                     ['ольга']
12144                     ['олеся']

[12145 rows x 1 columns]

/home/dmitry/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [222]:
cat_features = pd.DataFrame(data[['person_status']])
cat_features = pd.DataFrame([str(j).lower() for j in cat_features.values])
label_encoder = LabelEncoder()
df = pd.DataFrame(label_encoder.fit_transform(cat_features))
data = data.drop('person_status', axis=1)
df_onehotencoder = OneHotEncoder(sparse=False)
df2 = df_onehotencoder.fit_transform(df)
df = pd.DataFrame(df2)
data = data.join(df, rsuffix="_pers")

/home/dmitry/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [223]:
from sklearn.preprocessing import StandardScaler

In [224]:
len(data.columns)
data=data.dropna(axis=0)

In [225]:
data.columns

Index([           'Unnamed: 0',            'start_date',
             'first_sold_time',              'n_active',
                  'n_finished', 'active_finished_ratio',
             'min_active_cost',       'max_active_cost',
            'mean_active_cost',     'min_finished_cost',
           'max_finished_cost',    'mean_finished_cost',
                           '0',                     '1',
                           '2',                       3,
                             4,                       5,
                             6,                '0_pers',
                      '1_pers',                '2_pers'],
      dtype='object')

In [226]:
arr = np.array(data)

In [227]:
arr.shape
arr = arr[:, 1:]
arr[:, 1] = arr[:, 1] - arr[:, 0]
arr = arr[:, 1:]

In [228]:
scaler = StandardScaler()
scaler.fit(arr)
arr=scaler.transform(arr)

In [246]:
from sklearn.cluster import KMeans
clf = KMeans(n_clusters=8)

In [247]:
clf.fit(arr[:, 1:])

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=8, n_init=10, n_jobs=1, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [248]:
size = []
for i in range(8):
    size += [((i == clf.labels_).sum())]
    print(size[i])

1325
623
2857
3259
1395
526
11
215

In [249]:
for i in range(len(clf.cluster_centers_)):
    print(i, clf.cluster_centers_[i])

0 [-0.1182209  -0.12877472  0.02691254 -0.02457349  0.04927687  0.02117891
 -0.02719652 -0.023114   -0.04688804  2.31132776 -0.69922675 -0.14700614
 -0.28013365 -0.23328022 -0.25621069 -0.66531133 -0.44234313 -0.03283948
  0.44408279]
1 [-1.06114147e-01 -8.85395227e-02 -3.55626785e-02 -2.35753642e-02
 -2.02437295e-02  3.24788106e-03  1.63281459e-02 -1.62303588e-03
  8.28728226e-03 -4.32651749e-01 -6.99226753e-01 -1.47006141e-01
 -2.80133651e-01 -2.33280221e-01  3.90303783e+00 -6.65311328e-01
  2.62401866e-02 -3.28394789e-02 -2.32668755e-02]
2 [-0.27258633 -0.26232008 -0.17811706  0.02556606 -0.05361661 -0.00381926
  0.06076245 -0.02946722  0.02838009 -0.43265175 -0.69922675 -0.14700614
 -0.28013365 -0.23328022 -0.25621069  1.50305572 -0.44234313 -0.03283948
  0.44408279]
3 [-0.04674241 -0.07400315  0.06139633 -0.02389688 -0.02835197 -0.03282289
 -0.03339403 -0.02639428 -0.05869101 -0.43265175  1.05184198 -0.14700614
  0.40383933 -0.23328022 -0.25621069 -0.66531133 -0.44234313 -0.03283948
  0.44408279]
4 [ 0.70580239  0.75342732  0.20392788  0.05171667  0.12339388  0.07293278
 -0.03886435  0.06528732  0.06036452  0.1259792   0.32195882 -0.14700614
  0.16142716 -0.22679998 -0.24428453 -0.23630107  2.24518717 -0.03283948
 -2.23637194]
5 [-0.14555516 -0.13288842 -0.05370673 -0.02522517  0.00531572 -0.00773597
  0.05253719  0.21558619  0.20595724 -0.43265175 -0.69922675 -0.14700614
 -0.27281453  4.27809695 -0.25621069 -0.66531133  0.03556929 -0.03283948
 -0.03257142]
6 [ 2.08030207e+00  2.74894001e+00 -9.43825496e-02 -3.39385282e-02
  2.22655301e-01 -4.06780450e-02 -7.92429805e-02 -1.71955663e-02
 -1.39960803e-02 -1.83199067e-01  7.50925133e-02  4.84761411e-01
  7.69827702e-01 -2.33280221e-01  5.00016317e-01 -6.65311328e-01
 -4.42343133e-01  3.04511531e+01 -2.25183239e+00]
7 [ 1.03697136  0.95368008  0.18648746 -0.029851    0.07219516 -0.04385439
 -0.05326213 -0.01135347 -0.11735946 -0.43265175 -0.69922675  6.80243693
 -0.28013365 -0.23328022 -0.25621069 -0.66531133  0.60115277 -0.03283948
 -0.59666586]

In [251]:
data.loc[:, 'labels'] = clf.labels_
clusters = data.groupby('labels').mean()
clusters
for k in range(8):
    print(k, clusters.loc[k])
    print('size = ', size[k])

0 Unnamed: 0                 6486.876981
start_date               735522.225660
first_sold_time          736409.627925
n_active                     19.499623
n_finished                   20.816604
active_finished_ratio         2.744542
min_active_cost             699.095094
max_active_cost          388847.455849
mean_active_cost          37980.881343
min_finished_cost         10551.085283
max_finished_cost        465537.752453
mean_finished_cost        59330.168181
0                             1.000000
1                             0.000000
2                             0.000000
3                             0.000000
4                             0.000000
5                             0.000000
6                             0.000000
0_pers                        0.000000
1_pers                        0.000000
2_pers                        1.000000
Name: 0, dtype: float64
size =  1325
1 Unnamed: 0                 5426.648475
start_date               735428.420546
first_sold_time          736353.886035
n_active                     20.349920
n_finished                   23.373997
active_finished_ratio         2.401053
min_active_cost             739.799358
max_active_cost          212029.263242
mean_active_cost          32869.148703
min_finished_cost         19122.195827
max_finished_cost        672702.189406
mean_finished_cost        81029.215378
0                             0.000000
1                             0.000000
2                             0.000000
3                             0.000000
4                             0.000000
5                             1.000000
6                             0.000000
0_pers                        0.173355
1_pers                        0.000000
2_pers                        0.826645
Name: 1, dtype: float64
size =  623
2 Unnamed: 0                 6399.282464
start_date               735598.698985
first_sold_time          736359.641232
n_active                      8.658033
n_finished                   12.328316
active_finished_ratio         1.617289
min_active_cost            2743.823241
max_active_cost          127148.929646
mean_active_cost          30854.464394
min_finished_cost         27872.437172
max_finished_cost        404295.167658
mean_finished_cost        88931.203256
0                             0.000000
1                             0.000000
2                             0.000000
3                             0.000000
4                             0.000000
5                             0.000000
6                             1.000000
0_pers                        0.000000
1_pers                        0.000000
2_pers                        1.000000
Name: 2, dtype: float64
size =  2857
3 Unnamed: 0                 6465.345812
start_date               735548.998773
first_sold_time          736442.892912
n_active                     24.519791
n_finished                   24.297944
active_finished_ratio         2.934134
min_active_cost             726.687634
max_active_cost          191406.828475
mean_active_cost          22586.181916
min_finished_cost          9330.639460
max_finished_cost        433917.071494
mean_finished_cost        54688.358209
0                             0.000000
1                             0.822338
2                             0.000000
3                             0.177662
4                             0.000000
5                             0.000000
6                             0.000000
0_pers                        0.000000
1_pers                        0.000000
2_pers                        1.000000
Name: 3, dtype: float64
size =  3259
4 Unnamed: 0               6.391913e+03
start_date               7.350652e+05
first_sold_time          7.362356e+05
n_active                 7.737348e+01
n_finished               7.689032e+01
active_finished_ratio    3.717773e+00
min_active_cost          3.810265e+03
max_active_cost          5.773561e+05
mean_active_cost         5.273475e+04
min_finished_cost        8.253394e+03
max_finished_cost        1.317692e+06
mean_finished_cost       1.015099e+05
0                        2.035842e-01
1                        4.795699e-01
2                        0.000000e+00
3                        1.146953e-01
4                        1.433692e-03
5                        2.867384e-03
6                        1.978495e-01
0_pers                   9.942652e-01
1_pers                   0.000000e+00
2_pers                   5.734767e-03
Name: 4, dtype: float64
size =  1395
5 Unnamed: 0               7.888992e+03
start_date               7.355048e+05
first_sold_time          7.363489e+05
n_active                 1.757985e+01
n_finished               2.055513e+01
active_finished_ratio    2.301297e+00
min_active_cost          6.725190e+02
max_active_cost          2.770370e+05
mean_active_cost         2.973790e+04
min_finished_cost        2.625267e+04
max_finished_cost        2.766514e+06
mean_finished_cost       1.587678e+05
0                        0.000000e+00
1                        0.000000e+00
2                        0.000000e+00
3                        1.901141e-03
4                        9.980989e-01
5                        0.000000e+00
6                        0.000000e+00
0_pers                   1.768061e-01
1_pers                   0.000000e+00
2_pers                   8.231939e-01
Name: 5, dtype: float64
size =  526
6 Unnamed: 0                 5540.181818
start_date               735213.818182
first_sold_time          736126.090909
n_active                    173.909091
n_finished                  203.727273
active_finished_ratio         2.077662
min_active_cost             317.181818
max_active_cost          829816.909091
mean_active_cost          20346.853336
min_finished_cost           301.818182
max_finished_cost        522589.090909
mean_finished_cost        72265.736505
0                             0.090909
1                             0.363636
2                             0.090909
3                             0.272727
4                             0.000000
5                             0.181818
6                             0.000000
0_pers                        0.000000
1_pers                        1.000000
2_pers                        0.000000
Name: 6, dtype: float64
size =  11
7 Unnamed: 0                 6644.841860
start_date               735409.255814
first_sold_time          736462.120930
n_active                    100.632558
n_finished                   89.618605
active_finished_ratio         3.621886
min_active_cost             483.874419
max_active_cost          447137.665116
mean_active_cost          19441.348023
min_finished_cost          5418.106977
max_finished_cost        578904.595349
mean_finished_cost        31615.552909
0                             0.000000
1                             0.000000
2                             1.000000
3                             0.000000
4                             0.000000
5                             0.000000
6                             0.000000
0_pers                        0.386047
1_pers                        0.000000
2_pers                        0.613953
Name: 7, dtype: float64
size =  215